@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --orange: #FF5722;
  --white: #EEEEEE;
  --black: #303841;
  --blue: #00ADB5;
}

html {
  background-color: var(--black);
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-image: url('../public/background3.png');
  background-position: center;
  background-size: cover; */
  background-color: var(--black);

  /* height: 6rem;
  background-repeat: no-repeat; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
